@font-face {
    font-family: Exo;
    src: url(Exo-Regular.otf);
}

body{
    background-color: #333;
    background-image: url("img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white
}

.topbar{
    font-family: Exo;
}

.title{
    border-style: none;
    border-width: 500px;
    font-family: Exo;
    text-align: center;;
    font-size: 300%;
    line-height: 40%;
    text-shadow: 0 0 5px gray;
}

.subtitle{
    font-family: Exo;
    text-align: center;;
    font-size: 50%;
    line-height: 40%;
    text-shadow: 0 0 5px gray;
}